@*@model CRMManager.Models.AppRolesViewModel*@

@{
    ViewData["Title"] = Model.PageTitle;
}
<!--<h2 class="page-title">Model.PageTitle</h2>
<hr />
<div class="crud-button mb-3">
    <button class="btn btn-success" onclick="location.href = 'Url.Action("", "System")'">Thêm</button>
    <button class="btn btn-success" onclick="location.href = 'Url.Action("", "System")'">Sửa</button>
    <button class="btn btn-danger">Xóa</button>
</div>
<div class="form-group w-25 mb-3">
    <select id="layout-select" class="form-select" aria-label="Default select example">
        if (Model.AppLists != null)
        {
            foreach (var item in Model.AppLists)
            {
                <option value=item.ID>item.Name</option>
            }
        }
    </select>-->
@*<div class="col-sm-2">
        <a asp-action="ListRoleByApp" asp-controller="AppRole" id="btn-selectLayout" class="btn btn-primary">Save</a>
    </div>*@
<!--</div>
<div class="row">
    <div class="col-md-6 border-end">
        <table id="table-data" class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Mã</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Mô tả</th>
                </tr>
            </thead>
            <tbody>
                if (Model.AppRoleList != null)
                {
                    foreach (var item in Model.AppRoleList)
                    {
                        <tr id="controlRow" onclick="location.href = 'Url.Action("", "AppRole")'">
                            <th scope="row">item.Number</th>
                            <td>item.Name</td>
                            <td>item.Description</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4>CRMWebManager</h4>
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="2" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-end crud-button ">
                <input type="submit" value="Lưu" asp-action="Save" class="btn btn-success" />
                <input type="button" value="Hủy" class="btn btn-danger" />
            </div>

            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>App Object</th>
                        <th>Create</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">

                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Create" id="canCreate" />
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="View" id="canView" />
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Edit" id="canEdit" />
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Delete" id="canDelete" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/AppRole.js"></script>
}

<style>
    #table-data_wrapper .row div {
        margin-top: 0px !important;
    }

    /*#table-data_filter {
        display: none;
    }*/
</style>