@*@model CRMManager.Models.BrandsViewModel
<div class="justify-content-center">
    <h2 class="text-center">THÊM @Model.PageTitle</h2>
</div>
<div class="container">
    <form enctype="multipart/form-data" method="post" class="m-2">
        <div class="form-group d-none">
            <label asp-for="Brand.ID" class="control-label"></label>
            <input asp-for="Brand.ID" class="form-control" />
            <span asp-validation-for="Brand.ID" class="text-danger"></span>
        </div>
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <label class="control-label">Mã</label>
                            <input asp-for="Brand.Number" class="form-control" />
                            <span asp-validation-for="Brand.Number" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label class="control-label">Tên</label>
                            <input asp-for="Brand.BrandName" class="form-control" />
                            <span asp-validation-for="Brand.BrandName" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label class="control-label">Mô tả</label>
                            <textarea asp-for="Brand.Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Brand.Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mt-2">
                            <div class="row">
                                <div class="col-12">
                                    <label class="control-label" for="ThumbImage">Hình ảnh </label>
                                </div>
                                <div class="col-12">
                                    <img src="~/Dat'sImages/Default/imagesul.png" class="img-thumbnail" style="height: 223px;"/>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-8">
                                    <input type="file" class="form-control" name="imgfile" />
                                </div>
                                <div class="col-4">
                                    <button type="submit" asp-area="" asp-controller="Brand" asp-action="Uploadimage" class="btn btn-primary">Upload Ảnh</button>
                                </div>
                                <span>@ViewData["Message"]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8">

                            </div>
                            <div class="col-4">
                                <div class="float-right mt-2">
                                    <a asp-area="" asp-controller="Brand" asp-action="Index" asp-route-id= class="btn btn-danger m-1 float-right"><i class="fas fa-times"></i> Hủy</a>
                                    <button type="submit" asp-area="" asp-controller="Brand" asp-action="AddNew" asp-route-id=@Model class="btn btn-success m-1 float-right"><i class="far fa-save"></i> Lưu</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>*@