<!--model CRMManager.Models.RedeemItemMallsViewModel
<div class="justify-content-center">
    <h2 class="text-center">Model.PageTitle</h2>
</div>
<form method="post">
    <div class="ml-5 mr-5 mt-4">
        <div class="row">
            <div class="col-6">-->
@*<div class="row">
        <div class="col-6">
            <div class="form-group mb-2">
                <label class="control-label">Cửa hàng</label>
                <select id="drpEmpList" class="form-select" asp-for="OutletID" asp-items="@(new SelectList(Model.Outlets, "ID", "OutletName"))">
                    <option value="">--Select--</option>
                </select>
                <input type="hidden" asp-for="OutletID" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group mb-2">
                <label class="control-label">Nhóm quà</label>
                <select id="drpEmpList" class="form-select" asp-for="GroupID" asp-items="@(new SelectList(Model.RedemptionGroups, "ID", "Name"))">
                    <option value="">--Select--</option>
                </select>
                <input type="hidden" asp-for="GroupID" />
            </div>
        </div>
    </div>*@
<!--</div>
            <div class="col-6">
                <a asp-area="" asp-controller="Redemption" asp-action="AddNewRedeemItemMall" class="btn btn-success float-right m-1"><i class="far fa-plus-square"></i> Thêm</a>
            </div>
        </div>
        <table id="table-data" class="table table-bordered table-hover table-apptech mt-4 w-100" border="1">
            <thead>
                <tr style="color: White; background-color: #4267B2;">
                    <td style="width:60%;"><b>Tên quà</b></td>
                    <td style="width:15%;"><b>Trạng thái</b></td>
                    <td style="width:25%;"><b>Tùy chọn</b></td>
                </tr>
            </thead>
            foreach (var item in Model.RedeemItemMalls)
            {
                <tr id="controlRow" runat="server" class="apptech-pull-up">
                    <td>
                        <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                            item.ItemName
                        </div>
                    </td>
                    <td>
                            <div class="d-block w-100 h-100 text-decoration-none text-danger p-10px">
                                if (item.ToDate == DateTime.Now)
                                {
                                    <span>Hết hạn</span>
                                }
                                else if (item.AvailableQty == 0)
                                {
                                    <span>Hết quà</span>
                                }
                            </div>
                        </td>
                    <td>
                        <div class="row">
                            <div class="col-6">
                                <a asp-area="" asp-controller="Redemption" asp-action="EditRedeemItemMall" asp-route-id=item.ID class="btn btn-success m-1"><i class="far fa-edit"></i> Sửa</a>
                            </div>
                            <div class="col-6">
                                <button type="submit" asp-area="" asp-controller="Redemption" asp-action="DeleteRedeemItemMall" asp-route-id= class="btn btn-danger m-1"><i class="far fa-trash-alt"></i> Xóa</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>-->
