@model CRMManager.Models.RedemptionPromotionsViewModel
<form method="post">
    <div class="ml-5 mr-5 mt-4">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6">
                <a asp-area="" asp-controller="Redemption" asp-action="AddNewRedemptionPromotion" class="btn btn-success float-right m-1"><i class="far fa-plus-square"></i> Thêm</a>
            </div>
        </div>
        <table id="table-data" class="table table-bordered table-hover table-apptech mt-4 w-100" border="1">
            <thead>
                <tr style="color: White; background-color: #4267B2;">
                    <td style="width:15%;"><b>Mã</b></td>
                    <td style="width:30%;"><b>Loại quà</b></td>
                    <td style="width:30%;"><b>Loại khuyến mãi</b></td>
                    <td style="width:25%;"><b>Tùy chọn</b></td>
                </tr>
            </thead>
            @foreach (var item in Model.RedemptionPromotions)
            {
                <tr id="controlRow" runat="server" class="apptech-pull-up">
                    <td>
                        <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                            @item.Number
                        </div>
                    </td>
                    <td>
                        <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                            @foreach (var item2 in Model.ItemTypes)
                            {
                                if (item.ItemTypeID == item2.ID)
                                {
                                    <p>@item2.Name</p>
                                }
                            }
                        </div>
                    </td>
                    <td>
                        <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                            @foreach (var item3 in Model.PromotionTypes)
                            {
                                if (item.PromotionTypeID == item3.ID)
                                {
                                    <p>@item3.Name</p>
                                }
                            }
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-6">
                                <a asp-area="" asp-controller="Redemption" asp-action="EditRedemptionPromotion" asp-route-id=@item.ID class="btn btn-success m-1"><i class="far fa-edit"></i> Sửa</a>
                            </div>
                            <div class="col-6">
                                <button type="submit" asp-area="" asp-controller="Redemption" asp-action="DeleteRedemptionPromotion" asp-route-id= class="btn btn-danger m-1"><i class="far fa-trash-alt"></i> Xóa</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>