@model CRMManager.Models.DataMessageViewModel

@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">@Model.PageTitle</h2>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="Keyword" class="control-label"></label><span class="text-danger">(*)</span>
                    </div>
                    <div class="col-7">
                        <input asp-for="Keyword" class="form-control" />
                        <span asp-validation-for="Keyword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="Translation" class="control-label"></label><span class="text-danger">(*)</span>
                    </div>
                    <div class="col-9">
                        <textarea rows="3" asp-for="Translation" class="form-control"></textarea>
                        <span asp-validation-for="Translation" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="crud-button align-end">
        <button type="submit" class="btn btn-success">Lưu</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
