@model CRMManager.Models.NonMemberClassViewModel
<div class="justify-content-center">
    <h2 class="text-center">SỬA THÔNG TIN KHÁCH HÀNG KHÔNG THÀNH VIÊN</h2>
</div>
<div class="container">
    <form enctype="multipart/form-data" method="post" class="m-2 mt-5">
        <div class="form-group d-none">
            <label asp-for="ID" class="control-label"></label>
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>
        <div class="card w-100">
            <div class="card-body">
                <div class="row mt-4">
                    <div class="col-12 col-md-6">
                        <div class="form-group mt-2">
                            <label class="control-label">Mã</label>
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label class="control-label">Tên</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label class="control-label">Từ ngày</label>
                            <input asp-for="FromDate" class="form-control" />
                            <span asp-validation-for="FromDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label class="control-label">Đến ngày</label>
                            <input asp-for="ToDate" class="form-control" />
                            <span asp-validation-for="ToDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group mt-2">
                            <label class="control-label">Phần trăm giảm giá</label>
                            <input asp-for="PercentDiscount" class="form-control" />
                            <span asp-validation-for="PercentDiscount" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label class="control-label">Tổng giảm giá trong ngày</label>
                            <input asp-for="TotalDiscountInDay" class="form-control" />
                            <span asp-validation-for="TotalDiscountInDay" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label class="control-label">Tổng giảm giá trong tháng</label>
                            <input asp-for="TotalDiscountInMonth" class="form-control" />
                            <span asp-validation-for="TotalDiscountInMonth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mt-2">
                            <label class="control-label">Mô tả</label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8">

                            </div>
                            <div class="col-4">
                                <div class="float-right mt-2">
                                    <a asp-area="" asp-controller="NonMemberClass" asp-action="Index" asp-route-id= class="btn btn-danger m-1 float-right"><i class="fas fa-times"></i> Hủy</a>
                                    <button type="submit" asp-area="" asp-controller="NonMemberClass" asp-action="Edit" asp-route-id=@Model class="btn btn-success m-1 float-right"><i class="far fa-save"></i> Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>