@model CRMManager.Models.ErrorMessageViewModel

@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="page-title">@Model.PageTitle</h2>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="TransKeyword" class="control-label"></label><span class="text-danger">(*)</span>
                    </div>
                    <div class="col-6">
                        <input asp-for="TransKeyword" class="form-control" />
                        <span asp-validation-for="TransKeyword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="Name" class="control-label"></label><span class="text-danger">(*)</span>
                    </div>
                    <div class="col-6">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="Description" class="control-label"></label><span class="text-danger">(*)</span>
                    </div>
                    <div class="col-7">
                        <textarea rows="2" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="ViError" class="control-label"></label>
                    </div>
                    <div class="col-7">
                        <textarea rows="3" asp-for="ViError" class="form-control"></textarea>
                        <span asp-validation-for="ViError" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="EnTrans" class="control-label"></label>
                    </div>
                    <div class="col-7">
                        <textarea rows="3" asp-for="EnTrans" class="form-control"></textarea>
                        <span asp-validation-for="EnTrans" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="crud-button align-end">
            <button type="submit" class="btn btn-success">Lưu</button>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
